* {
  font-family: "Arimo", sans-serif;
}

.fondo {
  background-image: url("../conctac.jpeg");
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}
.pos-logo{
  margin-left: 65px;
}
.color-button {
  background-color: #47d078;
  color: #ffff !important;
  border-radius: 5px !important;
}
.color-button:hover{
  background-color: #008458;
}
.uk-card {
  border-radius: 10px !important;
  background-color: #ffff !important;
  opacity: 0.99;
}
.center-btn{
  position: relative;
  left: 50%;
}


@media only screen and (max-width: 417px) and (min-width: 360px) {
  .fondo {
    height: 1500px;
    background-image: url("../WEB-movil.png");
    background-repeat: no-repeat;
  }
  .pos-logo{
    margin-left: 134px;
  }
  .center-btn{
    left: 1%;
  }
}
@media only screen and (max-width: 1920px) and (min-width: 1024px) {
  .fondo {
    height: 1500px;
    background-image: url("../conctac.jpeg");
    background-repeat: no-repeat;
  }
  .pos-logo{
    margin-left: 134px;
  }
}
@media only screen and (max-width: 1024px) {
  .fondo {
    height: 1500px;
    background-image: url("../WEB-movil.png");
    background-repeat: no-repeat;
  }
  .pos-logo{
    margin-left: 134px;
  }
}
@media only screen and (max-width: 321px) {
  .fondo {
    height: 270vh;
    background-image: url("../WEB-movil.png");
    background-repeat: no-repeat;
  }
  .pos-logo{
    margin-left: 114px;
  }
  .center-btn{
    left: 1%;
  }
}
